
*{
    padding:0;
    margin:0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1476231682828-37e571bc172f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
    background-repeat: repeat;
    background-size: 100% 100%;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

.middlecenter {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    bottom: 15%;
}

.mainbutton button {
    display: block;
    border: 3px solid rgb(40, 146, 40);
    font-family: 'Montserrat';
    font-size: 30px;
    padding: 18px 40px;
    cursor: pointer;
    color: black;
    background-color: none;
    box-shadow: 0px 3px 3px limegreen;
}

.mainbutton button:hover {
    color: yellow;
    background-color: black;
}

input[type=text], input[type=helpwith], input[type=password], input[type=email], select, textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: 4px solid #ccc;
    border-radius: 12px;
    padding: 5px;
    background:#cfd6e9
}

.home-text p {
    width:70%;
    color: yellow;
    position:absolute;
    top:58%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    display: block;
    
}

.home-text h1 {
    font-size:65px;
    width:100%;
    color:yellow;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    margin: 10px 0 40px;
    display: block;
}

@media screen and (max-width : 700px) {

    .home-text h1 {
    font-size:29px;
    top: 30%;
    }

    .home-text p {
    font-size: 15px;
    bottom:15%;
    }
   
}

@media screen and (max-width : 1100px) {

    .scroll p, .scroll a{
        display: none;
    }

}

.navigation {
    overflow: hidden;
    background-color: black;
}
   
.navigation a {
    float: right;
    display: block;
    background-color: black;
    overflow: visible;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right:60px;
    position:relative;
}

.navigation li {
    display:inline-block;
    margin-left:25px;
    padding-top:30px;
}

.navigation a {
    color:yellow;
    font-family: 'Montserrat';
    font-size:20px;
    text-decoration:none;
    font-weight: bold;
    
}

.logincontainer, .signupcontainer, .contactuscontainer, .donatecontainer{
    color:yellow;
    font-family: 'Montserrat';
    font-size:17px;
    padding: 15px;
    background-color: black;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    position:absolute;
    width:50%;
    border-radius: 5px;
}

.donatecontainer {
    background-color: pink;
    color: black;
    text-align:center;
}

.mainform {
    margin-top: 10rem;
}

.logincontaine input, .signupcontainer input, .contactuscontainer input, donateuscontainer input{
    width: 100%;
    padding:15px;
}

.contactuscontainer h2 {
    color: white;
    background-color: grey;
}

.footer {
    width: 100%;
    height:10px;
    background-color: black;   
    position: fixed;
    bottom: 0;
}
  
.buttonstyle button{
    margin: auto;
    display: block;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

html {
    scroll-behavior: smooth;
}

.informative {
    float: left;
    color:yellow;
    margin-right:10%;
    top:0%;
}

.informative h3 {
    font-size: 30px;
    outline: 2px solid red;
}

.informative p {
    font-size:24px;
    background-color: black;
    width:100%;
}

#firstslide {
    min-height: 700px;
}

#secondslide {
    min-height: 300px;
}

#thirdslide {
    min-height: 500px;
}

.scroll, .scroll a {
    float:right;
    color:red;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    font-size:15px;
    position: sticky;
    top: 0px;
}

.donateposition {
    background-color:black;
    color:yellow;
    font-family: 'Work Sans', sans-serif;
}

.donatearea input[type=number]{
    width:50%;
    height:50px;
    font-size:50px;
}

.signupcontainer{
    bottom:43%;
}
